@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: "Inter", sans-serif;
} */

/* *{
    @apply transition-colors duration-300
}  */


/* whole page scollbar css */
::-webkit-scrollbar {
    width: 4px;
    height: 2px;

}
 
/* Track */
::-webkit-scrollbar-track {
    background: #1C1C1C66;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E3F5FF;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

